@import "~foundation-sites/scss/foundation";
@import "src/shared";

.work-items {
  @include fade-in();
  min-height: 652.47px;
}

ul {
  list-style-type: none;
  margin-right:1em;


  li.wi-list {
    padding: .75em;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.06);
    margin-left:.25em;
    margin-right:.25em;
    margin-top:.25em;
    background: #FCFCFC;

    div.wi-header {
      display: grid;
      grid-template-columns: 18em 10em 10em auto auto;

      span {
        display: inline-flex;
        align-items: center;
        input {
          margin: 0;
        }
      }
    }

    &:hover{
      box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.18);
      cursor: pointer;
    }
  }

  span.accordion {

    div.wi-details {
      background: white;
      height: 0px;
      overflow-y: hidden;

      .lbl {
        font-weight: 400;
        font-size: 1.1em;
      }
      img {
        border-radius: 50%;
        margin-left: .5em;
      }
    }

    &.open {
      div.wi-details {
        box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.06);
        padding: 1em 1em 1em 1.5em;
        @include fade-in-from-top();
        height: fit-content;
        margin: .08em .25em 1em;

        * {
          @include fade-in-from-left();
        }
        
        div.detail-row {
          display: flex;
          height: 44px;
          margin-bottom: .75em;

          div:not(:first-child){
            margin-left: 2em;
          }

        }

        div.detail-content{
          border-top: 3px solid $light-gray;
          padding-top: .5em;
        }

        div.description {
          * {
            display: inline;
          }
        }

      }
    }

    &.open {
      div.wi-header {
        svg.chevron {
          transform: rotate(180deg);
        }
      }
    }
  }
}

div.wi-header {
  svg.chevron {
    margin-left: auto;
    height: 22px;
    width: 22px;
  }
}

.assigned-to {
  margin-left: auto;
  display:flex;
}

input[type=checkbox] {
  cursor: pointer;
}

td, th {
  padding: .75em;
  input {
    margin:0 !important;
  }
  cursor: pointer;
}

.tasks.callout.small {
  margin:0;
  padding:.25em;
  height: 1.75em;
  width: fit-content;
}

.selected-tasks{
  border-radius: 4px;
  border: 1px solid rgba(10, 10, 10, 0.25);
  background-color: #d7ecfa;
  color: #0a0a0a;
  height: fit-content;
  width: fit-content;
  padding: .1em .2em;
  font-size: .8em;
}

.icon-user-story, .icon-bug, .icon-support-request {
  margin-right: .75em;
  height: 30px;
  width: 30px;
  border-radius: 3px;

  svg {
    margin: 4px 4px;
    height: 22px;
    width: 22px;
    fill: white;
  }
}

.icon-user-story {
  background: #14679e;
}

.icon-bug {
  background: #cc2b3e;
}

.icon-support-request {
  background: #42a15c;
}

.search-input {
  width: 61em;
  margin-left:1.5em;
}
.selected-tasks.lg {
  margin-left:2em;
  padding:.5em;
}

.footer {
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  background-color: white;
  overflow: hidden;
  z-index: 999;
  padding: 1em;

  display: flex;

  -webkit-box-shadow: -6px 2px 6px 0 #222;
  -moz-box-shadow: -6px 4px 6px 0 #222;
  box-shadow: -6px 2px 6px 0 #222;
}

.selected-work-items-wrapper {
  margin-left: 1em;
  font-size: .85em;
}

.selected-work-items-group {

  :not(:first-child) {
    margin-left: 1em;
  }

}

.wi-type-lbl {
  font-weight: 400;
}

.callout.secondary{
  margin-left: 1.5em;
  margin-right: 1.5em
}
