@import "~foundation-sites/scss/foundation";
@import "src/shared";

.work-items {
  @include fade-in();
  min-height: 652.47px;
}

ul {
  list-style-type: none;
  margin-right:1em;


  li.wi-list {
    padding: .75em;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.06);
    margin-left:.25em;
    margin-right:.25em;
    margin-top:.25em;
    background: #FCFCFC;

    div.wi-header {
      display: grid;
      grid-template-columns: 18em 10em 10em auto;

      span {
        display: inline-flex;
        align-items: center;
        input {
          margin: 0;
        }
      }
    }

    &:hover{
      box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.18);
      cursor: pointer;
    }
  }

  span.accordion {

    div.wi-details {
      background: white;
      height: 0px;
      overflow-y: hidden;

      .lbl {
        font-weight: 400;
        font-size: 1.1em;
      }
      img {
        border-radius: 50%;
        margin-left: .5em;
      }
    }

    &.open {
      div.wi-details {
        box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.06);
        padding: 1em 1em 1em 1.5em;
        @include fade-in-from-top();
        height: fit-content;
        margin: .08em .25em 1em;

        * {
          @include fade-in-from-left();
        }
        
        div.detail-row {
          display: flex;
          height: 44px;
          margin-bottom: .75em;

          div:not(:first-child){
            margin-left: 2em;
          }

        }

        div.detail-content{
          border-top: 3px solid $light-gray;
          padding-top: .5em;
        }

        div.description {
          * {
            display: inline;
          }
        }

      }
    }

    &.open {
      div.wi-header {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

div.wi-header {
  svg {
    margin-left: auto;
    height: 22px;
    width: 22px;
  }
}

.assigned-to {
  margin-left: auto;
  display:flex;
}

input {
  cursor: pointer;
}

td, th {
  padding: .75em;
  input {
    margin:0 !important;
  }
  cursor: pointer;
}


